*{
  font-family:"Roboto";
 }

body{
     background:#000428;
     background: -webkit-linear-gradient(to right,#FFC371,#FF5F6D);
     background: linear-gradient(to right,#FFC371, #FF5F6D);

     color:white;
    }

#show {
  display:block;
  border:none;
  
  border-radius:10px;
  padding:20 px;
  color:white;
  outline:none;
  width:100%;
  font-size: 30px; 
}

#location:placeholder{
  color:rgba(255,255,255, .5);
}